/* .root {
  background-color: lightblue;
  align-items: center;
  width: 100%;
  height: 100%;
}
.sign-in-form {
  background-color: lightcoral;
  align-items: center;
  width: 33%;
  height: max-content;
} */
.signin-form {
  width: 33%;
}
.signin-input {
  margin-top: 2em;
  width: 100%;
}
.signin-icon {
  margin-top: 4em;
}
.signin-button {
  width: 100%;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}
