<div>
  <div fxLayout="row" fxLayoutGap="8px" fxFill>
    <span fxFlex="10"></span>
    <span fxFlex="5">
      <button mat-icon-button color="primary"><mat-icon>home</mat-icon></button>
    </span>
    <span fxFlex="80" fxLayoutAlign="center">
      <button mat-icon-button color="primary">
        <mat-icon>offline_bolt</mat-icon>
      </button>
    </span>
    <span fxFlex="15" fxLayout="row" fxLayoutAlign="center">
      <button mat-icon-button color="warn">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon>notifications_active</mat-icon>
      </button>
      <button mat-icon-button color="warn"><mat-icon>face</mat-icon></button>
    </span>
    <span fxFlex="10"></span>
  </div>
</div>
