<div>
  <div fxLayout="row" fxFill fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutGap="8px" fxFlex="33">
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
    <div fxLayout="column" fxLayoutGap="8px" fxFlex="33">
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
    <div fxLayout="column" fxLayoutGap="8px" fxFlex="33">
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </div>
</div>
