<!-- <div>
  <h3 *ngFor="let message of messages | async">{{ message.text }}</h3>
  <button (click)="logMessages()">Log message data</button>
  <div>
    <label
      >send message:
      <input #sendMessag type="text" />
    </label>
    <button (click)="sendMessage(sendMessag.value)">send</button>
  </div>
  <div>
    <label
      >update message:
      <input #position type="text" placeholder="position" />
      <input #updateMes type="text" placeholder="message" />
    </label>
    <button (click)="updateMessage(position.value, updateMes.value)">
      send
    </button>
  </div>
  <div>
    <label
      >delete message:
      <input #deletePos type="text" />
    </label>
    <button (click)="deleteMessage(deletePos.value)">delete</button>
  </div>
</div> -->
<div class="root" fxLayout="column">
  <div fxFlex="70">
    <mat-list role="list">
      <mat-list-item role="listitem" fxLayoutAlign="end">
        <mat-chip-list>
          <mat-chip color="accent">done</mat-chip>
        </mat-chip-list>
        <mat-icon [style.color]="'pink'">done</mat-icon>
      </mat-list-item>
      <mat-list-item role="listitem" fxLayoutAlign="start">
        <mat-chip-list>
          <mat-chip color="accent">done</mat-chip>
        </mat-chip-list>
        <mat-icon [style.color]="'pink'">done</mat-icon>
      </mat-list-item>
    </mat-list>
  </div>

  <div fxLayoutAlign="center" fxFlex="30">
    <mat-form-field fxFill appearance="outline">
      <mat-label>message to send</mat-label>
      <input matInput placeholder="message..." />
      <mat-icon matSuffix>send</mat-icon>
    </mat-form-field>
  </div>
</div>
