<div>
  <div class="container" fxLayoutAlign="space-around center">
    <div
      fxLayout="column"
      fxLayoutGap="10px"
      class="content signin-form"
      fxLayoutAlign="space-around center"
    >
      <mat-icon class="signin-icon">face</mat-icon>
      <mat-form-field appearance="outline" class="signin-input">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Email" />
        <mat-icon matSuffix>done</mat-icon>
        <mat-hint>your email here</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="signin-input">
        <mat-label>Password</mat-label>
        <input type="text" matInput placeholder="Password" />
        <mat-icon matSuffix>done</mat-icon>
        <mat-hint>your password here</mat-hint>
      </mat-form-field>
      <div
        fxLayout="row"
        fxLayoutGap="10px"
        class="content signin-input"
        fxLayoutAlign="space-around center"
      >
        <button mat-stroked-button color="primary" class="signin-button">
          Sign In
        </button>
        <button mat-stroked-button color="accent" class="signin-button">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
