@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.root {
  margin-top: 4px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 50px;
}
